.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
  }
  
  .image {
    grid-column: 1/2;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    height:auto;
  }
  
  .formContainer {
    grid-column: 2/3;
    align-self: center;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .submitBtn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitBtn:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
    .image {
      width: 100%;
    }
    .formContainer {
      align-self: start;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
    .image {
      width: 70%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
    .image {
      width: 60%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
    .image {
      width: 50%;
    }
  }
  