.container {
    background-image: linear-gradient(to right, rgb(21, 236, 146), #52f0c0), url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(6, 253, 158, 0.8), rgba(44, 128, 184, 0.8));
      z-index: 1;
  }
  
  .content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgb(173, 170, 170);
    margin: 50px 0px;
    border-radius: 10px;
    padding: 30px 20px;
    z-index: 2;
  }
  
  .heading {
    width: 100%;
    text-align: center;
  }
  
  .heading h1 {
    margin-top: 0;
    color: white;
    font-size: 45px;
  }
  
  .description {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
  }
  
  .yellowLine {
    height: 5px;
    width: 30%;
    background-color: yellow;
    margin: 20px auto;
  }
  
  .button {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .button button {
    background-color: #3f3f3f;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  .description > p{
    line-height: 25px;
    letter-spacing: 1px;
  }
  /* Media Queries */
  @media (max-width: 768px) {
    .content {
      width: 100%;
    }
  }
  