.singUpContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-gap: 20px;
    max-width: 70%;
    margin: 80px auto;
    }
    .nextImageC{
        width: 100%;
        height: 400px;
        object-fit: contain;
        object-position: center;
    }
    .heroIcon{
        width: 23px;
        height: 23px;
        position: absolute;
        top: 0;
        bottom: 0;
        color: gray;
        left: 0;
        right: 0;
        margin: auto 0px;
    }
    .form_Container{
        padding: 0px 30px;
    }
    .myInputBox{
    padding: 10px 30px;
    width:100%;
    border-top: none;
    border-bottom: 1px solid gainsboro;
    border-left: none;
    border-right: none;
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    }
    .myInputBox:focus{
        border-bottom: 1px solid black;
    }
    .inputItem{
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }
    .termConditions > input{
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .specialLinnk{
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
    }
    .register_buttonContainer{
        margin-top: 50px;
    }
    .submit_Button{
        padding: 18px 50px;
        background-color: darkblue;
        color: white;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
        outline: none;
        border: none;
    }
    .termConditions{
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        font-size: 0.8rem;
    }
    .submit_Button:disabled{
        background-color: gray;
        color:black;
    }
    .Image_Container > p{
        text-decoration: underline;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .input_Item > input{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid gainsboro;
    }
    .Image_Container{
        display: grid;
        place-items: center;
    }
    
    .ErrorDiv{
        position: absolute;
        top: 10px;
        right: 0px;
        color:crimson;
        }